*{
    margin: 0px;
    padding: 0px;
}
.frame1{
    height: 100vh;
    width: 100vw;
    margin-top: 115px;
    margin-left: 246px;
    border: 1px;
}
#heading{
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 20px;
    line-height: 33.89px;
    margin-top: 10px;
    margin-left: 336px;
}
.box{
    background-color:#3B4664;
    height: 100vh;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 89px 343px 89px 34px;


}
#display{
    border: none;
    background-color:  #181F32;
    height: 83px;
    width: 380.73px;
    border-radius: 12px;
    margin-top: 13px;
    margin-left: 332px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    text-align: right;
    font-family: 'Segoe UI'

}
.plate{
    background-color: #252D44;   
    height: 310px;
    width: 380px;
    border-radius: 12px;
    gap: 22px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 330px;
    margin-right: 0px;
    
}
.icon{
    border: none;
    background-color:  #EAE3DB;
    height: 42px;
    width: 67px;
    font-weight: 700;
    font-size: 26px;
    color:#3B4664;
    text-align: center;
    border-radius: 8px;
    
    gap: 20px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: -1px;
    margin-right: 20px;
    grid-row: 10px;
}
.icondel{
    border: none;
    border-radius: 8px;
    background-color: #647299;
    height: 42px;
    width: 67px;
    font-weight: 800;
    font-size: 20px;
    color:  #EAE3DB;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: -1px;
    margin-right: 0px;
}

.calculation{
    margin-left: -2px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.restart{
    border: none;
    font-weight: 800;
    font-size: 11px;
    color: #FFFFFF;
    background-color: #647299;
    height: 40px;
    width: 168.44px;
    border-radius: 11.52px;
    
}
.equal{
    border: none;
    font-weight: 800;
    font-size: 11px;
    color:#FFFFFF;
    background-color: #D13F30;
    height: 40px;
    width: 170.44px;
    border-radius: 11.52px;
}

.allicon{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 0px;
}
